<body class="welcome">
  <link href="https://fonts.googleapis.com/css?family=Exo|Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="application.css">
  <br>
  <br>
  <h1>Welcome to The Lit Cove Book Club</h1>

  <a class="button" href="<%= books_path %>">Enter Here</a>

</body>
