/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family:'Exo';
   text-decoration:none;
 }

 body.index {
   font-family: 'Exo';
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/random_background.jpg) fixed;
   background-size:cover;
   background-position: center top;
   text-align: center;
   font-size: 18px;
   color: rgba(200, 255, 200, 0.9);
   text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.7);
   display: grid;
   margin: 24;
   text-decoration: none;
 }

 body.welcome {
   font-family: 'Pacifico';
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/random_background.jpg) fixed;
   background-size:cover;
   background-position: center top;
   text-align: center;
   font-size: 36px;
   color: rgba(200, 255, 200, 0.9);
   text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.7);
 }

 .button {
  background: rgba(0, 151, 19, 0.3);
  border: 2px solid green;
  color: rgba(255, 255, 255, 0.8);
  padding: 15px 32px;
  text-align: center;
  text-shadow: none;
  font-family: 'Exo';
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  display: inline-block;
  font-size: 22px;
  border-radius: .5em;
  text-decoration:none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.button:hover {
  background: rgba(200, 51, 19, 0.7);
}

.column {
  float: left;
  width: 25.33%;
  padding: 40px;
  font-size: 16px;
  text-decoration:none;
  cursor: pointer;
  color: white;
  display: table;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

h3.links {
  text-decoration:none;
  background-blend-mode: luminosity;
  color:orangered;
  text-shadow: 0 1px 1px rgba(250,0,250,.3);
}
